#accordion {
    margin-top: 20px;
}

.custom-card {
    width: 650px;
    margin: auto;
}

.card-header {
    padding: 10px 15px;
}

.card-header-flex {
    display: flex;
}

.card-header-text, .card-header-submit {
    flex-basis: 50%;
}

.card-header-submit button {
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}

.card-header .btn-link {
    text-decoration: none;
}

.inline-container {
    display: inline-block;
}

.match-info-input {
    margin-bottom: 10px;
}

.match-info-input, .stats, #goalsInfo {
    display: flex;
}

#matchSeason, #matchStatus {
    flex-basis: 50%;
    font-size: 0.8rem;
}

#matchDate, #matchday, #matchStadium {
    flex-basis: 33.33%;
    font-size: 0.8rem;
}

#matchSeason, #matchDate, #matchday {
    margin-right: 10px;
}

#homeTeam, #awayTeam, .score-home-team, .score-away-team, #goalsInfoHome, #goalsInfoAway {
    flex-basis: 50%;
}

#homeTeam {
    margin-right: 10px;
}

.score-home-team .input-group {
    float: right;
}

#awayTeamInput:focus, #scoreHTAwayTeamInput:focus, #scoreFTAwayTeamInput:focus, .stats-input-away input:focus, #goalsInfoAway input:focus {
    border-color: rgba(220, 53, 69, 0.8);
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.4);
    outline: 0 none;
}

.form-control {
    font-size: 0.8rem;
    height: calc(2.25rem + 2px);
}

.autocomplete-holder {
    position: relative;
    width: 100%;
}

.autocomplete {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 10000;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    background-color: white;
    padding: 5px 0;
}

.autocomplete-li {
    list-style-type: none;
    padding: 5px 20px;
}

.autocomplete-li:hover {
    background-color: #ccc;
}

.score-home-team {
    margin-right: 10px;
}

.half-width {
    width: 50%;
}

.stats {
    margin-bottom: 20px;
}

.home-stats-header, .away-stats-header, .stats-input-home, .stats-input-away {
    flex-basis: 30%;
}

.team-stats-header, .stat-categories-header {
    flex-basis: 40%;
}

.stat-categories-header {
    text-align: center;
    padding: 8px 0;
}

#goalsInfoHome {
    margin-right: 10px;
}

.min-pen-og-con {
    display: flex;
    margin-top: 10px;
}

.minutes {
    flex-basis: 50%;
}

.penalty, .own-goal {
    flex-basis: 25%;
    margin-left: 10px;
}

.penalty span, .own-goal span {
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 680px) {
    #accordion {
        margin-top: 0;
    }

    .no-padding-margin {
        margin: 0;
        padding: 0;
    }

    .custom-card {
        width: 100%;
    }
}